.container{
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
}

.metric:hover{
  cursor: pointer;
  font-weight: bolder;
  color: blue;
}

.isSelected{
  color: green;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title-section-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.first-title-section-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px 5px 0px;
}

.metric-parameter-section{
  min-height: 206px;
}

.metric-list-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-width: 1100px;
}

.bandwidth-metric-list{
  grid-column: span 1;
}

.ping-metric-list{
  grid-column: span 1;
}

.packet-loss-metric-list{
  grid-column: span 1;
}

.time-window-parameter-section{
  border-left: 1px solid black;
  min-width: 638px;
  max-height: 206px;
}

.other-options-parameter-section{
  border-left: 1px solid black;
}

.clear-selection-section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form-date-range{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-left: 5px;
}

mat-form-field{
  padding : 5px;
}

:host ::ng-deep .mat-mdc-form-field-bottom-align::before {
  height: 0 !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  min-height: 0 !important;
  height: 0 !important;
}

.time-unit-select{
  max-width: 130px;
}

.display-button-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-button-container{
  display: flex;
  flex-direction: column;
}

.mat-button-elevated{
  cursor: pointer;
}

li{
  list-style-type: none;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}

.number-form-field {
  max-height: 100px;
  max-width: 170px
}

.back-from-now{
  padding-bottom: 8px;
  font-style: italic;
  color: dimgray;
}

.horizontal{
  display: flex;
  gap: 1rem; /* spacing between items */
  padding: 0;
  list-style: none;
}

h4{
  margin: 10px 0;
}

h2{
  margin-top: 5px;
  margin-bottom: 5px;
}

h1{
  margin-top: 5px;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-container{
  padding-left: 5px;
}

.buttons-on-row{
  display: flex;
  flex-direction: row;
}

.button-and-input{
  min-width: 330px;
}
