.container {
  width: 100%;
  height: calc(100% - 49px);
  box-sizing: border-box;
  align-content: space-around;
}

.loading-container {
  width: 100%;
  height: calc(100% - 49px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage-title{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: flex-end;
}

.homepage-title-element{
  margin-right: 5px;
  margin-left: 5px;
}

.metric-family-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.metric-cell {
  grid-column: span 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.ping-metric-container{
  padding : 10px
}

.mat-mdc-card-header{
  padding: 5px;
}

.mat-mdc-card-content{
  padding: 5px;
}

.value{
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

a:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.good-statistic{
  color: green;
}

.bad-statistic{
  color: red;
}

mat-icon.good-statistic{
  color: green;
}

mat-icon.bad-statistic{
  color: red;
}

.good-statistic-value{
  color: darkgreen;
}

.bad-statistic-value{
  color: #b60101;
}

.percentage-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.packet-loss-percentage-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3.ping-metric-name{
  margin: 0;
}

h2.ping-metric-name{
  margin: 0;
  color: mediumblue;
}

h2.ping-metric-value-good{
  margin: 0;
  color: darkgreen;
}

h2.ping-metric-value-bad{
  margin: 0;
  color: #b60101;
}

p{
  margin: 0;
}

.ping-metric-name-and-value-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
}

mat-card{
  min-width: 275px;
  background-color: transparent;
  box-shadow: none;
}

.standard-deviation-below{
  color: steelblue;
}

.standard-deviation-above{
  color: sandybrown;
}
