.options-and-chart-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container{
  width:  100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-options-parameter-section{
  width: 290px;
  margin-left: 5px;
}

.chart-container {
  flex: 1;
}

.pick-a-metric-message-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.alpha-form-field{
  width: 100px;
}

.polynomial-degree-form-field{
  width: 100px;
}

.alpha-input-label{
  font-size: 21px;
}

.polynomial-degree-selection-label{
  font-size: 21px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parameter-comment{
  font-style: italic;
  color: dimgray;
}

.sup-n{
  font-size: 0.8em;
  vertical-align: super;
}

.sub-n{
  font-size: 0.8em;
  vertical-align: sub;
}
