.data-explorer-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-parameter-selector {
  background-color: #eee;
  position: sticky;
  top: 49px;
}

.chart-container {
  flex: 1;
}
