.data-explorer-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 49px);
}

.chart-parameter-selector {
  background-color: #eee;
}

.chart-container {
  flex: 1;
}
