.data-explorer-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 equal columns */
  height: 100vh;
}

.sidebar {
  height: 100%;
  grid-column: span 1;   /* take 1 column */
  background-color: #ccc;
}

.content {
  height: 100%;
  grid-column: span 4;   /* take 3 columns */
  background-color: #eee;
}

.icon-right {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.25rem; /* optional spacing */
}
