.heatmap-component-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 721px;
}

.pick-a-metric-message-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.mat-column-hour{
  font-weight: bold;
}

.cell{
  font-weight: bold;
}

.value-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
