@if (chartOptions.series.length) {
  @if (selectedMetrics.length == 2){
    <section class="checkbox-container">
        <mat-checkbox (change)="onTwoYAxisDisplayCheckboxToggle($event.checked)" [checked]="displayOnTwoYAxis"
                      labelPosition="before" class="example-margin"><strong>Display on two Y axes</strong></mat-checkbox>
    </section>
  }
  <div class="chart-container">
    <apx-chart #chart
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [xaxis]="chartOptions.xaxis"
               [title]="chartOptions.title">
    </apx-chart>
  </div>
} @else {
  <div class="container">
    <div class="pick-a-metric-message-container">
      <mat-icon>keyboard_arrow_left</mat-icon><h1> Select one or several metrics and a time window</h1>
    </div>
  </div>
}
